node_modules
npm-debug.log

.dockerignore
.git
.gitignore
README.md
LICENSE
.env
.env.*
**/.env
**/.env.*
server/.env
client/.env
!.env.example
client/dist
server/public
coverage
build
dist
.vscode
.idea
tmp
temp
